:root {
  --clr-1: #fff;
  --clr-2: #000;

  --gap-min: 2px;
  --gap-mid: 10px;
  --gap-max: 20px;

  --r-min: 4px;
  --r-max: 12px;

  --ui-h: 38px;

  --column-w: 960px;
}

html, body {
  padding: 0;
  margin: 0;
  color: var(--clr-1);
  background-color: var(--clr-2);
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

nav {
  display: grid;
  position: fixed;
  color: var(--clr-2);
  background-color: var(--clr-1);
  padding: var(--gap-max);
  border-radius: var(--r-max);
  top: var(--gap-max);
  left: var(--gap-max);
}

nav > a {
  color: var(--clr-2);
  text-decoration: none;
  line-height: var(--ui-h);
}

body > .column {
  display: grid;
  grid-template-rows: min-content auto min-content;
  width: 100%;
  max-width: var(--column-w);
  min-height: 100vh;
}

header {
  border-bottom: 1px solid currentColor;
  padding: var(--gap-max);
}

footer {
  border-top: 1px solid currentColor;
  padding: var(--gap-max);
}

main {
  padding: var(--gap-max);
}