:root {
  --clr-1: #fff;
  --clr-2: #000;

  --gap-min: 2px;
  --gap-mid: 10px;
  --gap-max: 20px;

  --r-min: 4px;
  --r-max: 8px;

  --ui-h-1: 28px;
  --ui-h-2: 38px;

  --column-w: 960px;
}

html, body {
  padding: 0;
  margin: 0;
  color: var(--clr-1);
  background-color: var(--clr-2);
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

nav {
  display: grid;
  position: fixed;
  color: var(--clr-2);
  background-color: var(--clr-1);
  padding: var(--gap-max);
  padding-left: 0;
  padding-right: 0;
  border-radius: var(--r-max);
  top: var(--gap-max);
  left: var(--gap-max);
}

a {
  color: currentColor;
}

nav > a {
  color: var(--clr-2);
  text-decoration: none;
  line-height: var(--ui-h-1);
  padding-left: var(--gap-max);
  padding-right: var(--gap-max);
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
}

nav[nav-current="home"] > a[nav="home"],
nav[nav-current="about"] > a[nav="about"],
nav[nav-current="links"] > a[nav="links"]
{
  pointer-events: none;
  border-left: 2px solid #f00;
  border-right: 2px solid #f00;
  background-color: rgba(255, 0, 0, .2);
}

body > .column {
  display: grid;
  grid-template-rows: min-content auto min-content;
  width: 100%;
  max-width: var(--column-w);
  min-height: 100vh;
}

header {
  border-bottom: 1px solid currentColor;
  padding: var(--gap-max);
}

footer {
  border-top: 1px solid currentColor;
  padding: var(--gap-max);
}

main {
  padding: var(--gap-max);
}